/* IE7 and earlier styles */
/* ----------------------------------------- */

section.main {
padding-bottom: 20px;
}

.feedburner #feedburner_email_widget_sbef,  /* feedburner form */
.search-box .searchform { /* feedburner form */
margin-left: -15px;
width: 190px;
}

.feedburner #feedburner_email_widget_sbef_email { /* feedburner email input */
margin-right: 5px;
}

.legal li:first-child {
border-right: 1px solid;
margin-right: 5px;
}

.wpcf7-form .required {
	margin-top: 10px;
}
