/* RESET */
/* ----------------------------------------- */

/**
* Eric Meyer's Reset Stylesheet
*
* v2.0
* 2011-01-26
* Author: Eric Meyer - http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

a {
text-decoration: none;
outline: none;
}

a img {
border: none;
}

code {
font-family: monospace;
font-size: 12pt;
}

.menu-global-navigation-container,
.post-social,
.post-tools,
#comments,
.sidebar,
.footer-extras,
.stay-connected,
.legal,
#breadcrumbs,
.search-box,
.post-categories,
.post-tags,
.blog-header,
.blog-title {
display: none;
}

a {
text-decoration: none;
color: #333;
}

/* WP default WYSIWYG classes */

.alignleft {
float: left;
margin: .1in .1in .1in 0;
}

.alignright {
float: right;
margin: .1in 0 .1in .1in;
}

.aligncenter {
display: block;
clear: both;
text-align: center;
margin: .1in auto .2in auto;
}

body {
font-family: Georgia, Times New Roman, serif;
width: 7.5in;
margin: .5in auto;
color: #333;
font-size: 62.5%;
line-height: 1.4;
}

.main-wrapper {
margin: .1in;
}

.post-title {
margin-bottom: .1in;
font-size: 3em;
font-weight: normal;
color: #333;
}

.post-byline {
display: block;
margin-bottom: .3in;
font-size: 1.4em;
}

.post-content {
font-size: 1.4em;
}

.post-content p,
.post-content ul,
.post-content ol {
margin-bottom: .2in;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
margin-bottom: .05in;
}

.post-content h1 {
font-size: 2em;
}

.post-content h2 {
font-size: 1.8em;
}

.post-content h3 {
font-size: 1.6em;
}

.post-content h4 {
font-size: 1.4em;
}

.post-content h5 {
font-size: 1.2em;
}

.post-content h6 {
font-size: 1em;
font-weight: bold;
}

.post-content blockquote {
padding: .2in .4in;
position: relative;
clear: both;
font-size: 1.1428em;
}

.post-content ul {
margin-left: .3in;
}

.post-content ol {
margin-left: .4in;
}

.post-content li {
margin-bottom: .01in;
list-style-position: inside;
}

.post-content ul li {
list-style: disc;
list-style-position: inside;
}

.post-content ol {
list-style: decimal;
}

.post-content img {
border: 1px solid #ccc;
padding: .06in;
}

.post-content .wp-caption img {
border: 0;
padding: 0;
display: block;
margin: 0 auto .06in auto;
}

.post-content .wp-caption p {
padding: 0 .06in;
margin-bottom: 0;
font-size: 0.9em;
}

.post-content .wp-caption {
border: 1px solid #ccc;
padding: .06in;
margin: .1in 0;
}

.post-content strong {
font-weight: bold;
}

.post-content em {
font-style: italic;
}

.blog-footer {
position: relative;
border-top: 1px solid #ccc;
margin-top: .1in;
padding-top: .1in;
}

.blog-footer .blog-title {
font-size: 3em;
font-family: Helvetica, Verdana, sans-serif;
}

.vcard {
display: none !important;
}

.copyright-info {
display: block;
margin-top: .2in;
font-size: 1.1em;
}

.colophon .lexblog {
position: absolute;
right: 0;
top: .1in;
text-indent: -5000em;
overflow: hidden;
background: url(/wp-content/themes/lxb-parent-theme/images/lexblog.png) no-repeat;
width: 313px;
height: 23px;
}