/*
Theme Name:     Farrell Fritz, P.C. - B0002005 all-about-ediscovery
Theme URI:      http: //lexblog.com
Description:    The theme for B0002005 all-about-ediscovery
Author:        Angelo Carosio
Template:       lxb-parent-theme
Version:        1.0
*/

/* RESET */
/* ----------------------------------------- */

/**
* Eric Meyer's Reset Stylesheet
*
* v2.0
* 2011-01-26
* Author: Eric Meyer - http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

a {
text-decoration: none;
outline: none;
}

a img {
border: none;
}

code {
font-family: monospace;
font-size: 1.2em;
}

/* GENERAL LAYOUT AND TYPOGRAPHY */
/* ----------------------------------------- */

body {
background: #fff;
color: #333;
font-family: 'Lucida Grande', Verdana, sans-serif;
font-size: 62.5%;
line-height: 1.3em;
}

.print-header {
display: none;
}

a {
color: #0c497d;
}

section.sidebar a {
color: #799a05;
font-family: 'georgia', serif;
font-size: 12px;
}

a:hover,
a:focus {
color: #000;
}

section.sidebar a:hover,
section.sidebar a:focus {
color: #000;
}

/* WP default WYSIWYG classes */

.alignleft {
float: left;
margin: 10px 10px 10px 0;
}

.alignright {
float: right;
margin: 10px 0 10px 10px;
}

.aligncenter {
display: block;
clear: both;
text-align: center;
margin: 10px auto;
}

/* wrappers */

.blog-wrapper { /* wraps all containers */
background: #fff;
width: 1000px;
margin: 30px auto;
}

header.blog-header { /* site-wide header */
width: 100%;
position: relative;
height: 221px;
background: url(images/header.jpg) no-repeat;
}

section.main-wrapper { /* wraps main content and main sidebar */
width: 100%;
background: url(images/content-bg.gif) repeat-y;
padding-top: 60px;
float: left;
z-index: 0;
}

section.main { /* main content */
width: 640px;
float: left;
margin-left: 40px;
}

.home section.main {
margin-top: 20px;
}

section.sidebar { /* main sidebar */
width: 260px;
float: right;
margin: 20px 30px 20px 30px;
font-size: 1.1em;
line-height: 1.3em;
}

footer.blog-footer { /* site-wide footer */
position: relative;
width: 940px;
clear: both;
margin-bottom: 60px;
float: left;
}

/* SITE HEADER */
/* ----------------------------------------- */

.blog-header hgroup {
float: left;
}

.blog-title a {
display: block;
font-size: 3em;
font-weight: bold;
padding: 30px 0 0 30px;
text-indent: -5000em;
overflow: hidden;
position: absolute;
left: 20px;
top: 20px;
width: 850px;
height: 150px;
}

.blog-description {
display: block;
padding: 10px 0 0 30px;
font-size: 1.1em;
font-weight: bold;
text-transform: uppercase;
text-indent: -5000em;
overflow: hidden;
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
line-height: 0;
}

/* nav menu */
nav.menu-global-navigation-container {
position: absolute;
background: #799a05;
bottom: -3.68em;
font-weight: bold;
font-size: 14px;
font-family: Georgia, Times, serif;
left: 11px;
padding: 1px 0;
width: 958px;
}

nav.menu-global-navigation-container ul {
margin-left: 0px;
}

nav.menu-global-navigation-container ul li {
float: left;
position: relative;
z-index: 0;
}

nav.menu-global-navigation-container ul li a {
display: block;
float: left;
color: #fff;
line-height: 1em;
padding: 1.3em 20px;
}

nav.menu-global-navigation-container ul li a:hover,
nav.menu-global-navigation-container ul li a:focus {
background: #012f64;
}

/* header widget area (typically client logo and search) */

section.header-widgets {
float: right;
}

/* client logo */

section.header-widgets section.logo a { /* client logo text widget */
display: block;
width: 200px;
margin-right: 30px;
font-size: 1.5em;
padding-top: 40px;
/*
position: absolute;
text-indent: -5000em;
overflow: hidden;
right: 0;
top: 0;
width: 100px;
height: 100px;
*/
}

/* search */

section.header-widgets section.search { /* search widget */
position: absolute;
bottom: 14px;
right: 30px;
}

.search-box,
.search-box form {
display: block;
text-align: left;
}

.searchform {
display: block;
height: 22px;
padding: 0;
margin: 0;
}

.searchform input.s {
width: 162px;
height: 19px;
padding: 0;
margin: 0;
margin-right: 5px;
display: inline;
float: left;
position: relative;
left: 0;
}

.main .searchform {
width: 195px;
margin-top: 20px;
}

.main .searchform input.s {
border: 1px solid #ccc;
width: 158px;
height: 17px;
}

.main > p {
font-size: 1.1em;
}

.searchform .searchsubmit {
display: block;
text-indent: -5000em;
line-height: 0em;
overflow: hidden;
width: 26px;
border: 0;
height: 19px;
float: right;
background: #666 url(images/go.png) no-repeat 50% 50%;
cursor: pointer;
}

.sidebar .searchform input.s {
width: 162px;
height: 15px;
padding: 0;
margin-right: 5px;
float: left;
}

/* SIDEBAR */
/* ----------------------------------------- */

.sidebar .widget {
margin: 0 30px 30px;
position: relative;
}

.sidebar .widget-title {
display: block;
font-size: 15px;
height: 17px;
margin-bottom: 5px;
font-family: 'georgia', serif;
}


.sidebar .feedburner .widget-title {
height: auto;
margin-bottom: 0;
text-indent: 0;
}

.links ul li {
width: 200px;
display: block;
clear: both;
border-bottom: 1px dotted #adadad;
}

.links ul.children > li {
border-bottom: 0;
padding-left: 20px;
}

.links ul li a {
display: block;
padding: 5px 0;
}

/* publishing links */

.sidebar .published-by a {
color: #252525;
font: normal normal normal 1.272em georgia, serif;
padding: 2px 0;
}

.sidebar #farrell-fritz-logo {
display: block;
margin: 10px 0 30px 0; 
}

/* social networking ordered links */

.sidebar .stay-connected {
margin-bottom: 5px;
}

.sidebar .stay-connected ul li {
position: relative;
}

.sidebar .stay-connected ul li a {
padding: 8px 0 8px 22px;
}

.sidebar .stay-connected ul li a img {
position: absolute;
left: 0;
}

/* feedburner */

.sidebar .mailchimp {
margin-bottom: 55px;
}

.feedburner form {

height: 30px;

}
.sidebar .mailchimp h3,
.sidebar .feedburner h3,
.sidebar .s2_form_widget h3 {
font-size: 1em;
font-weight: normal;
background: url(/wp-content/themes/lxb-parent-theme/images/icon-email.png) no-repeat left center;
padding: 5px 0 5px 22px;
}

.sidebar .mailchimp h3,
.sidebar .s2_form_widget h3 {
color: #252525;
text-indent: 0;
}

.sidebar .s2_form_widget label {
display: none;
}

.sidebar .s2_form_widget p {
display: inline;
}


.feedburner input[type="email"] { /* feedburner email input */
width: 162px;
height: 15px;
padding: 0;
margin-right: 5px;
float: left;
}


.feedburner input[type="submit"] { /* feedburner submit button */
display: block;
text-indent: -5000em;
line-height: 0em;
overflow: hidden;
width: 26px;
border: 0;
height: 19px;
float: right;
background: #666 url(images/go.png) no-repeat 50% 50%;
cursor: pointer;
}

.sidebar .s2_form_widget input[name=subscribe] {
margin-top: -1.7em;
}

/* blogroll */

.blogroll-nav {
display: block;
background: url(/wp-content/themes/lxb-parent-theme/images/more-blogs.png) no-repeat;
height: 15px;
width: 200px;
position: relative;
margin: 10px 0;
}

.blogroll-nav .prev,
.blogroll-nav .next {
display: block;
text-indent: -5000em;
overflow: hidden;
width: 24px;
height: 15px;
position: absolute;
}

.blogroll-nav .prev {
left: 0;
background: url(/wp-content/themes/lxb-parent-theme/images/prev-arrow.png) no-repeat center center;
}

.blogroll-nav .next {
right: 0;
background: url(/wp-content/themes/lxb-parent-theme/images/next-arrow.png) no-repeat center center;
}

.blogroll-nav .end {
display: none;
}

/* POSTS AND PAGES */
/* ----------------------------------------- */

/* date and category archives */

.date .main, .category .main, .tag .main {
margin-left: 40px;
margin-top: 1em;
width: 640px;
}

.archive-header {
border-bottom: 1px solid #000;
padding-bottom: 20px;
margin-bottom: 20px;
position: relative;
float: left;
width: 640px; /* for border */
}

.category .archive-header {
padding-bottom: 10px;
}

.archive-title {
font-size: 1.8em;
line-height: 1.3;
}

.category .archive-title {
float: left;
margin: 0 20px 20px 0;
}

.grid-row {
clear: both;
float: left; /* for height */
width: 640px;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #ccc;
}

.archive-title strong {
font-weight: bold;
}

.archive-header .feed {
display: block;
float: right;
font-size: 1.1em;
padding: 2px 0 2px 20px;
background: url(/wp-content/themes/lxb-parent-theme/images/icon-rss.png) no-repeat left;
}

.author .main .feed {
clear: both;
display: block;
margin-bottom: 20px;
font-size: 1.3em;
font-weight: bold;
padding: 2px 0 2px 20px;
background: url(/wp-content/themes/lxb-parent-theme/images/icon-rss.png) no-repeat left;
}

.date article,
.category article,
.tag article {
width: 30.2%;
float: left;
padding: 0 10px;
}

.author .author-info {
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #ccc;
}

.author-bio {
overflow: auto;
}

.author-bio .avatar {
float: left;
margin: 0 10px 10px 0;
}

.date .post-title,
.category .post-title,
.tag .post-title {
font-size: 1.5em;
line-height: 1.3;
}

.date .post-byline,
.date .post-categories,
.date .post-tools,
.date .post-tags,
.date .post-tags a,
.category .post-byline,
.category .post-categories,
.category .post-tools,
.category .post-tags,
.category .post-tags a,
.tag .post-byline,
.tag .post-categories,
.tag .post-tools,
.tag .post-tags,
.tag .post-tags a {
font-size: 0.9em;
margin-bottom: 0;
}

.date .post-tools,
.category .post-tools,
.tag .post-tools {
border-bottom: 0;
}

.date .post-content,
.category .post-content,
.tag .post-content {
font-size: 1.1em;
}

/* regular posts */

#breadcrumbs {
font-size: 1.1em;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 25px;
}

.home article,
.author article,
.single article,
.error404 article,
.search article {
margin-bottom: 50px;
}

.post-header {
margin-bottom: 15px;
}

.post-title {
font-family: georgia, times new roman, serif;
font-size: 2.5em;
line-height: 1.1em;
margin-bottom: 20px;
}

.post-title a {
}

.post-byline {
display: block;
font-size: 1.4em;
margin-bottom: 8px;
}

.post-categories {
display: block;
font-size: 1.1em;
}

.post-content {
font-size: 1.3em;
line-height: 1.4em;
}

.post-content a {
  color: #00aa9e;
  font-weight: bold;
}

article p,
article ul,
article ol {
margin-bottom: 10px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
line-height: 1em;
margin-bottom: 5px;
}

article h1 {
font-size: 2em;
}

article h2 {
font-size: 1.8em;
}

article h3 {
font-size: 1.6em;
}

article h4 {
font-size: 1.4em;
}

article h5 {
font-size: 1.2em;
}

article h6 {
font-size: 1em;
font-weight: bold;
}

article blockquote {
background: url(images/blockquote.png) 0 25px no-repeat;
color: #534741;
font-size: 1.231em;
line-height: 1.3;
padding: 20px 40px;
position: relative;
}

article ul {
margin-left: 30px;
}

article ol {
margin-left: 40px;
}

article li {
margin-bottom: 5px;
}

article ul li {
list-style: disc;
}

article ol {
list-style: decimal;
}

article img {
border: 1px solid #ccc;
padding: 6px;
}

article .wp-caption img {
border: 0;
padding: 0;
display: block;
margin: 0 auto 6px;
}

article .wp-caption p {
font-size: 0.9em;
padding: 0 6px;
margin-bottom: 0;
}

article .wp-caption {
border: 1px solid #ccc;
padding: 6px;
margin: 10px 0;
}

article strong {
  font-weight: bold;
}

article em {
  font-style: italic;
}

.more-link,
.more {
display: block;
clear: both;
margin-top: 15px;
}

.post-social {
display: block;
clear: both;
height: 20px;
margin-top: 15px;
}

.post-social a {
display: block;
float: left;
text-indent: -5000em;
overflow: hidden;
width: 60px;
height: 22px;
margin-right: 5px;
}

.date .post-social a,
.category .post-social a,
.tag .post-social a {
clear: both;
margin-bottom: 5px;
}

.post-social .at300bs { /* hide default addthis icons */
display: none;
}

.addthis_button_twitter {
background: url(/wp-content/themes/lxb-parent-theme/images/share-twitter.png) no-repeat;
}

.addthis_button_facebook {
background: url(/wp-content/themes/lxb-parent-theme/images/share-facebook.png) no-repeat;
}

.addthis_button_email {
background: url(/wp-content/themes/lxb-parent-theme/images/share-mail.png) no-repeat;
}

.addthis_button_linkedin {
background: url(/wp-content/themes/lxb-parent-theme/images/share-linkedin.png) no-repeat;
}

.addthis_button_google_plusone {
background: url(images/social-google.png) no-repeat;
}

.post-tools {
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
margin: 20px 0 5px 0;
clear: both;
}

.post-tools a {
font-weight: bold;
padding-left: 15px;
}

.post-print,
.post-comments {
display: inline;
margin-right: 10px;
}

.post-print a {
background: url(/wp-content/themes/lxb-parent-theme/images/icon-print.png) no-repeat left;
}

.post-comments a {
background: url(/wp-content/themes/lxb-parent-theme/images/icon-comments.png) no-repeat left;
}

.single .post-tags {
margin-bottom: 20px;
}

.post-tags {
display: block;
font-size: 0.9em;
font-weight: bold;
text-transform: uppercase;
}

.post-tags a {
font-weight: bold;
text-transform: none;
font-size: 1.2em;
}

.pagination {
height: 1.3em;
font-size: 1.3em;
width: 100%;
margin: 0 0 20px 0;
}

.pagination a {
font-weight: bold;
}

.pagination-old a {
padding: 0 10px 0 0;
float: right;
background: url(/wp-content/themes/lxb-parent-theme/images/next-page.png) no-repeat right;
}

.pagination-new a {
padding: 0 0 0 10px;
float: left;
background: url(/wp-content/themes/lxb-parent-theme/images/prev-page.png) no-repeat left;
}

.page article {
margin-top: 30px;
}

/* ARCHIVES PAGE */
/* ----------------------------------------- */

.page-template-archives-php .post-content .searchform,
.page-template-archives-php article h2,
.page-template-archives-php article ul {
	margin-bottom: 20px;
}

/* COMMENTS AND FORMS */
/* ----------------------------------------- */

#comments {
margin-bottom: 20px;
}

#comments h3,
#respond h3 {
font-size: 1.4em;
margin-bottom: 10px;
}

img.avatar {
	padding: 3px;
	margin: 0 10px 0 0;
}

p.form-allowed-tags {
	display: none;
}

a.comment-edit-link {
	float: right;
}



/* Disqus specific styles */

.dsq-comment-message {
font-size: 1.3em;
}

.dsq-comment-footer,
#dsq-subscribe {
font-size: 1.1em;
}

/* default fallback comment styles */
article.comment {
clear: both;
margin-bottom: 20px;
}

article.comment article.comment {
padding-left: 50px;
}

article.comment .avatar {
float: left;
width: 40px;
height: 40px;
}

article.comment .comment-author,
article.comment .comment-meta {
display: block;
margin-left: 50px;
margin-bottom: 5px;
font-size: 1.1em;
}

article.comment .comment-content {
font-size: 1.2em;
margin-left: 50px;
}

article.comment .comment-reply-link {
display: block;
margin: 10px 0 0 0;
float: right;
}

/* default fallback comment form */

#commentform {
font-size: 1.2em;
}

#commentform .comment-notes {
font-weight: bold;
margin-bottom: 10px;
}

#commentform p input,
#commentform p textarea {
display: block;
margin: 5px 0 10px 0;
border: 1px solid #ccc;
padding: 5px;
font-family: 'Lucida Grande', Verdana, sans-serif;
font-size: 1em;
}

#commentform #submit {
background: #000;
color: #fff;
cursor: pointer;
}

/* contact form */

.wpcf7-form {
background: #efefef;
margin: 0 0 20px 0;
padding: 20px;
}

.wpcf7-form .required {
font-weight: bold;
margin-bottom: 10px;
}

.wpcf7-form label {
display: block;
font-weight: bold;
font-size: 1em;
margin-bottom: 5px;
}

.wpcf7-form input,
.wpcf7-form textarea {
border: 1px solid #e2e2e2;
padding: 5px;
margin-bottom: 10px;
}

.wpcf7-form textarea {
width: 590px;
height: 200px;
font-family: 'Lucida Grande', Verdana, sans-serif;
}

.wpcf7-submit {
background: #000;
color: #fff;
height: auto;
padding: 10px;
font-size: 1em;
cursor: pointer;
}

.wpcf7-not-valid-tip {
font-size: 1.1em;
background: #fff;
padding: 10px !important;
border: 1px solid #ff0000 !important;
}

.wpcf7-validation-errors {
font-size: 1em;
background: #fff;
padding: 10px !important;
border: 1px solid #ff0000 !important;
}

.wpcf7-mail-sent-ok {
font-size: 1em;
background: #fff;
padding: 10px !important;
border: 1px solid #33cc00 !important;
}

/* SITE-WIDE FOOTER */
/* ----------------------------------------- */

.blog-footer-inner-wrapper {
background: url(images/footer.png) no-repeat;
width: 1000px;
float: left;
font-size: 1.1em;
line-height: 1.3em;
}


.colophon {
background: #799a05;
border-top: 1px solid white;
width: 958px;
height: 24px;
margin: 0 0 11px 11px;
padding: 5px 0;
position: relative;
}

.colophon .copyright-info {
font-size: 1em;
color: #fff;
padding: 10px 0 0 20px;
position: absolute;
left: 0px;
}

.colophon .lexblog {
position: absolute;
top: 6px;
right: 0px;
text-indent: -5000em;
overflow: hidden;
background: url(images/lexblog.png) no-repeat;
width: 313px;
height: 23px;
}


/* SITE-WIDE FOOTER */
/* ----------------------------------------- */



.contact-wrapper {
left: 30px;
padding: 20px 0 20px 0;
position: absolute;
top: 100%;
}

.blog-footer .blog-title {
color: #333;
display: block;
font-size: 1.182em;
font-weight: bold;
margin-bottom: .3em;
}

.footer-contact .contact-info { /* vcard widget */
margin-bottom: 10px;
}
.footer-contact .contact-info .vcard strong {
	font-weight: bold;
}

.footer-contact .contact-info .vcard .org,
.footer-contact .contact-info .vcard .adr,
.footer-contact .contact-info .vcard .adr .street-address {
display: inline;
}

.footer-contact .contact-info .vcard .phone-group {
display: block;
margin-top: 1.3em;
}

.footer-contact .contact-info .vcard .phone-group div {
display: inline;
}

.footer-contact .stay-connected h3 {
font-weight: bold;
font-size: 1.2em;
margin-bottom: 5px;
}

.footer-contact .stay-connected li {
width: 16px;
height: 16px;
float: left;
margin-right: 8px;
}

.footer-extras {
float: right;
padding: 20px 20px 0 0;
}

.footer-extras .widget {
width: 200px;
float: left;
margin-left: 20px;
clear: right;
}

.footer-extras .widget-title {
font-weight: bold;
margin-bottom: 5px;
}


.colophon .copyright-info {
font-size: 1em;
color: #fff;
padding: 6px 0 0 20px;
position: absolute;
left: 0px;
}


.legal {
position: absolute;
right: 20px;
bottom: -60px;
}

.attorney-ad {
position: absolute;
right: -40px;
bottom: -45px;
}

.legal ul {
float: right;
margin-right: 15px;
padding-bottom: 30px;
}

.legal ul li {
display: inline;
font-size: 0.818em;
text-transform: uppercase;
color: #0765cc;
}

.legal ul li:first-child:after {
content: " | ";
}

.legal ul li a {
font-weight: bold;
}


